<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

  <div class="container">
    <div class="mt-3 jumbotron text-center">
    
    <h1>Quizer App</h1>

    <p>This is a simple web application to host some questionaire and with ability to create group tasks. This has integration with
        other applications Google assistant, Alexa also
    </p>
  </div>
</div>

</body>
</html>
